<%- include('../templates/header.ejs') %>

  <div id="wrapper">
    <%- include('../templates/sidebar.ejs') %>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%- include('../templates/top-bar.ejs') %>
            <div class="container-fluid">
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Blogs</h1>
                <% if (view=='blog/update' ) { %>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/blogs">Blogs</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Update</li>
                    </ol>
                  </nav>
                  <% } %>
              </div>

              <%- include('../templates/alert.ejs') %>

                <div class="row">
                  <div class="card shadow mb-4 col-md-12">
                    <div class="card-body">
                      <% if(view=='blog/update' ) { %> <%- include('./update-blog-form.ejs') %>
                          <% } else { %>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="list-blog" data-toggle="tab" data-target="#list"
                                  type="button" role="tab" aria-controls="list" aria-selected="true">
                                  List
                                </button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="add-form-tab" data-toggle="tab" data-target="#add-form"
                                  type="button" role="tab" aria-controls="add-form" aria-selected="false">
                                  Add New Blog
                                </button>
                              </li>
                            </ul>
                            <div class="tab-content mt-4" id="myTabContent">
                              <div class="tab-pane fade show active" id="list" role="tabpanel"
                                aria-labelledby="list-blog">
                                <%- include('./list.ejs') %>
                              </div>
                              <div class="tab-pane fade" id="add-form" role="tabpanel" aria-labelledby="add-form-tab">
                                <%- include('./add-blog-form.ejs') %>
                              </div>
                            </div>
                            <% } %>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>

  <%- include('../templates/logout-modal.ejs') %> <%- include('../templates/scripts.ejs') %>
      <script>
        $(document).ready(() => {
          ClassicEditor.create(document.querySelector('#editor')).catch((error) => {
            console.error(error);
          });
        });

        $('.delete-btn')
          .toArray()
          .forEach((deleteButton) => {
            $(deleteButton).on('click', function (evt) {
              const confirmation = confirm('Are you sure to delete this blog?');
              if (!confirmation) evt.preventDefault();
            });
          });

        $(window).on('change', function (evt) {
          const target = evt.target;

          switch (target.id) {
            case 'title':
              const title = $(target).val();
              const slug = title
                .toLowerCase()
                .replace(/[^\w ]+/g, '')
                .replace(/ +/g, '-');
              $('#slug').val(slug);
              break;

            case 'thumbnail':
              const file = $(target).get(0).files;
              const reader = new FileReader();
              reader.readAsDataURL(file[0]);

              $(reader).on('loadend', function (evt) {
                $('.thumbnail-preview img').attr('src', evt.target.result);
              });
              break;

            case 'coverImage':
              const coverImageFile = $(target).get(0).files;
              const coverImageReader = new FileReader();
              coverImageReader.readAsDataURL(coverImageFile[0]);

              $(coverImageReader).on('loadend', function (evt) {
                $('.cover-image-preview img').attr('src', evt.target.result);
              });
              break;
          }
        });
      </script>