<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Slug</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% blogs.forEach((blog) => { %>
      <tr>
        <td><%= blog.id %></td>
        <td>
          <img
            src="/public/images/<%= blog.thumbnail  %>"
            alt="<%= blog.title %>"
            style="width: 100px"
          />
        </td>
        <td><%= blog.title %></td>
        <td><%= blog.slug %></td>
        <td><%= blog.description %></td>
        <td>
          <% if(blog.published) { %>
          <span class="badge badge-success">Published</span>
          <% } else { %>
          <span class="badge badge-danger">Draft</span>
          <% } %>
        </td>
        <td>
          <form action="/user/blogs/<%= blog.id %>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger btn-circle btn-sm delete-btn">
              <i class="fas fa-trash"></i>
            </button>
            <a
              href="/user/blogs/update/<%= blog.id %>"
              class="btn btn-success btn-circle btn-sm update-btn"
            >
              <i class="fas fa-edit"></i>
            </a>
          </form>

          <% if(!blog.published) { %>
          <form action="/user/blogs/publish?_method=PUT" method="post" class="mt-2">
            <input type="hidden" id="id" name="id" value="<%= blog.id %>" />
            <button type="submit" class="btn btn-primary btn-sm">Publish</button>
          </form>
          <% } %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
