<form
  action="/user/blogs/update/<%= blog.id %>?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="thumbnail-preview">
    <img src="/public/images/<%= blog.thumbnail %>" alt="<%= blog.title %>" width="300" />
  </div>
  <div class="form-group">
    <label for="thumbnail">Thumbnail</label>
    <input type="file" class="form-control" id="thumbnail" name="blogThumbnail" accept="image/*" />
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      class="form-control"
      placeholder="Blog title here"
      required
      value="<%= blog.title %>"
    />
  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input
      type="text"
      name="slug"
      id="slug"
      class="form-control"
      placeholder="Blog slug here"
      required
      value="<%= blog.slug %>"
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description" rows="3" required>
<%= blog.description %></textarea
    >
  </div>
  <div class="cover-image-preview">
    <img src="/public/images/<%= blog.coverImage %>" alt="<%= blog.title %>" width="600" />
  </div>
  <div class="form-group">
    <label for="coverImage">Cover Image</label>
    <input type="file" class="form-control" id="coverImage" name="coverImage" accept="image/*" />
  </div>
  <div class="form-group">
    <label for="editor">Content</label>
    <textarea name="content" id="editor" rows="3"><%= blog.content %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
