<%- include('../../templates/header.ejs') %>

<div id="wrapper">
  <%- include('../../templates/sidebar.ejs') %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%- include('../../templates/top-bar.ejs') %>
      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Subscribers</h1>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addSubscriber"
          >
            Add Subscribers
          </button>
        </div>

        <%- include('../../templates/alert.ejs') %>

        <div class="row">
          <div class="card shadow mb-4 col-md-12">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Email Address</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% subscribers.forEach((subscriber) => { %>
                    <tr>
                      <td><%= subscriber.id %></td>
                      <td><%= subscriber.email %></td>
                      <td>
                        <form
                          action="/admin/subscribers/<%= subscriber.id %>?_method=DELETE"
                          method="post"
                        >
                          <button type="submit" class="btn btn-danger btn-circle btn-sm delete-btn">
                            <i class="fas fa-trash"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-success btn-circle btn-sm update-btn"
                            data-toggle="modal"
                            data-target="#updateSubscriber"
                            data-subscriber-id="<%= subscriber.id %>"
                            data-subscriber-email="<%= subscriber.email %>"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                        </form>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('./add-modal.ejs') %> <%- include('./update-modal.ejs') %> <%-
      include('../../templates/footer.ejs') %>
    </div>
  </div>
</div>

<%- include('../../templates/logout-modal.ejs') %> <%- include('../../templates/scripts.ejs') %>
<script>
  $('.delete-btn')
    .toArray()
    .forEach(function (deleteButton) {
      $(deleteButton).on('click', function (event) {
        const confirmation = confirm('Are you sure you want to delete this subscriber?');
        if (confirmation) $(this).submit();
        event.preventDefault();
      });
    });

  $('.update-btn')
    .toArray()
    .forEach(function (updateButton) {
      $(updateButton).on('click', function () {
        $('#subscriberId').val($(this).data('subscriber-id'));
        $('#subscriberEmail').val($(this).data('subscriber-email'));
      });
    });
</script>
