<%- include('../templates/header.ejs') %>

  <div id="wrapper">
    <%- include('../templates/sidebar.ejs') %>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%- include('../templates/top-bar.ejs') %>
            <div class="container-fluid">
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Frequently Asked Questions</h1>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFAQ">
                  Add FAQ
                </button>
              </div>

              <%- include('../templates/alert.ejs') %>

                <div class="row">
                  <div class="card shadow mb-4 col-md-12">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Answer</th>
                              <th>Questions</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% faqs.forEach((faq)=> { %>
                              <tr>
                                <td>
                                  <%= faq.question %>
                                </td>
                                <td>
                                  <%= faq.answer %>
                                </td>
                                <td>
                                  <form action="/faqs/<%= faq.id %>?_method=DELETE" method="post">
                                    <button type="submit" data-toggle-tooltip title="Delete FAQ"
                                      class="btn btn-danger btn-circle btn-sm delete-btn">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-success btn-circle btn-sm update-btn"
                                      data-toggle="modal" data-target="#updateFAQ" data-toggle-tooltip
                                      title="Update FAQ" data-faq-id="<%= faq.id %>" data-question="<%= faq.question %>"
                                      data-answer="<%= faq.answer %>">
                                      <i class="fas fa-edit"></i>
                                    </button>
                                  </form>
                                </td>
                              </tr>
                              <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <%- include('./add-modal.ejs') %> <%- include('./update-modal.ejs') %>
        </div>
      </div>
  </div>

  <%- include('../templates/logout-modal.ejs') %> <%- include('../templates/scripts.ejs') %>
      <script>
        $('.delete-btn')
          .toArray()
          .forEach(function (deleteButton) {
            $(deleteButton).on('click', function (event) {
              const confirmation = confirm('Are you sure you want to delete this faq?');
              if (confirmation) $(this).submit();
              else event.preventDefault();
            });
          });

        $('.update-btn')
          .toArray()
          .forEach(function (updateButton) {
            $(updateButton).on('click', function () {
              const faqId = $(this).data('faq-id');
              const updateForm = document.getElementById('updateForm')
              updateForm.setAttribute('action', `/faqs/${faqId}?_method=PUT`)

              $('#questionUpdate').val($(this).data('question'));
              $('#answerUpdate').val($(this).data('answer'));
            });
          });
      </script>